@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
